<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h1>Registration</h1>

<form method="post">
    <label for="name">Name:
        <input type="email" id="name" name="email">
    </label><br>
    <label for="name">Email:
        <input type="text" id="email" name="email">
    </label><br>
    <label for="pwd">Password:
    <input type="password" id="pwd" name="pwd"><br>
        </label><br>
    <input type="button" value="Submit">
</form>

</body>
</html>